{{!-- list item --}}

<li class="collection-item">
    <div>{{item_name}}<a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
        <a href="#!" class="secondary-content"><i class="material-icons">highlight_off</i></a>
    </div>
</li>