<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In Page</title>
    <!-- Compiled and minified CSS DOCUMENTATION FROM MATERIALIZE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!-- THIS IS THE HEADER OF THE PAGE -->
    <header class="header"></header>
    <div Class="signInPage">
        <h1>WELCOME</h1>
        <h2><img class="homeLogo-SignIn" src="/images/HOME.png" width="625px" height="179px"></h2>
        <!-- SIGN IN FORM TAKEN FROM MATERIALIZE -->
        <div class="row">
            <form class="col s12 form">
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        </form>
    </div>
    <!-- SIGN IN BUTTON -->
    <a class="waves-effect waves-light btn signInBtn" id="sign-in">Sign In</a>
    <!-- DON'T HAVE AN ACCOUNT? -->
    <div class="signUp">
        <h4>Don't have an account?</h4>
        <a class="signUpA">Sign-up</a>
    </div>
    </div>
    <!-- Compiled and minified JavaScript FROM MATERIALIZE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/signIn.js"></script>
</body>

</html>