
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS documentation for Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>

<body>
    <!-- This is the Header of the page -->
    <header class="header">
        <div class="homeLogo">
            <img src="/images/HOME.png" width="525px" height="135px">
        </div>
    </header>
    <div Class="account">
        <h1>Create An Account</h1>
    </div>
    <!--  SIGN UP FORM  -->

    <div class="row">
        <form class="col s12 signup-form ">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
    </div>
    </form>
    <!-- SIGN IN BUTTON -->
    <a class="waves-effect waves-light btn signUpBtn signup-form">Sign Me Up!</a>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/signUp.js"></script>
</body>

</html>