<!DOCTYPE html>
<html lang="en">
    <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Compiled and minified CSS documentation for Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="./signup.css">
</head>
<body>
  <!-- This is the Header of the page -->
  <header class="header">
    <div class="homeLogo">
      <img src="./HOME.png" width="525px" height="135px">
    </div>
  </header>
  <div Class="account">
    <h1>Create An Account</h1>
  </div>