/* HEADER STYLING */
.header {
    width: 100%;
    height: 150px;
    background-color: #7692AB;
    border-bottom: 10px solid #FAD02C;
}

/* ------------------------SIGN-IN PAGE--------------------------------------- */
/* DIV THAT HOLDS ALL THE SIGN IN PAGE INFO */
.signInPage {
    display: block;
    text-align: center;
    align-content: center;

}

/* FIRST TITLE (WELCOME) */
h1 {
    font-size: 50px;
    margin-bottom: 1px;
}

/* SECOND TITLE (HOME) */
h2 {
    font-size: 150px;
    margin-top: 2px;
    margin-bottom: 5px;
}

/* SIGN IN ROW POSITION AND WIDTH */
.row {
    width: 50%;
    align-items: center;
}

/* SIGN UP TITLE AND ANCHOR POSITION */
.signUp {
    text-align: center;
    font-size: 25px;
}

/* SIGN IN BUTTON */
.signInBtn {
    display: block;
    margin: auto;
    width: 180px;
    height: 45px;
    background-color: #FAD02C;
    font-size: 25px;
}